body {
    font-family: Tahoma, sans-serif;
    background-color: #FAF1E4;
    background-image: url(background.png);
    /* background-repeat: no-repeat; */
    background-position: center;
    background-size: cover;

    color: white;
    margin: 3em;
}

div {
    display: inline;
}

li {
    list-style-type: none;
}

.listpar {
    padding-left: 2em;
}

.list1 {
    font-weight: bold;
}

.navbar {
    text-align: center;
    display: inline;
    z-index: 999;

}

.pagelink {
    background-color: #383838;
}

.pagelink:hover {
    background-color: #646363;

}

.pagelink:link {
    text-decoration: none;
}

.pagelink:active {
    color: white;
    text-decoration: none;
    background-color: #222222;
}

.pagelink:visited {
    color: white;
    text-decoration: none;
}

.img_2nd {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    overflow: hidden;
    position: fixed;
    top: 0;
    margin: 0 auto;
    align-items: center;
    float: left;

}

.navli {
    display: inline;
    float: left;


}

.navli a {
    padding: 14px 16px;
    font-size: 1.5em;
    display: block;
    border-radius: 16px;
    margin: 2px;
    align-items: center;


}

#imunoTitle {
    text-align: center;
    font-size: 70px;

}

#imunoSlogan {
    text-align: center;
    margin: 0, 0, 0, 0;
}

#imunoText {
    margin-right: 4em;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    font-family: Tahoma, sans-serif;
    background-color: #383838;
    height: auto;
    width: auto;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 3em;
    font-size: 20px;
}


.tezLink:link {
    text-decoration: none;
    color: #d8e9c1;
}

.tezLink:hover {
    color: #515749;
}

.tezLink:active {
    color: #d8e9c1;
}

.tezLink:visited {
    color: #d8e9c1;
}

.tezLink {
    margin: 2em;
    font-size: 20px;
}

#imunoNoteikumi {

    text-align: left;
    width: 60%;
    position: absolute;
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 80px;
}
@media screen and (max-width: 1080px) {
    #imunoNoteikumi {
        position:static;
}
    body {
    margin:0;
}
    .PATOIMUNOtext {
    font-size: 10px;
}

}

.PATOIMUNOtext {
    font-size: 20px;
    text-align: right;
}

.imunoBasicInfo {
    background-color: #9eb384;
    width: 430px;
    height: 430px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: bold;
    text-align: center;
    float: right;
    overflow: hidden;
    position: static;
}

#noteikContent {
    position: absolute;
}


#ageIcon {
    width: 25%;
    margin-top: 7em;
    margin-left: 2.5em;
}

#playtimeIcon {
    width: 35%;
}

#playercountIcon {
    width: 28%;
    margin-bottom: 8em;
    margin-right: 2em;
}

.kompletsUl {
    list-style-type: disc;
}

.komplektsLi {
    font-size: 20px;
}


.collapsable {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active,
.collapsable:hover {
    background-color: #ccc;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}

.collapsable:after {
    content: '\02795';
    /*+*/
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
    /*-*/
}

.kaLi {
    list-style-type: decimal;
}

.kaUl {
    font-weight: bold;
}

.gaitaUl {
    font-weight: bold;
}

.gaitaLi {
    list-style-type: decimal;
    font-size: 20px;
}

.gaitaLi2 {
    list-style-type: circle;
    font-size: 15px;
}